{% extends 'base-top-layer.html' %}


{% block content %}


<div class='col-lg-2' id="LHS-admin">
  <ul class='nav nav-tabs nav-stacked' role='tablist' id="admin-tabs">
    <li role="presentation" class="active">
      <a href="#reports" aria-controls="reports" role='tab' data-toggle="tab">Reports</a>
    </li>
    <li role="presentation">
      <a href="#settings" aria-controls="settings" role='tab' data-toggle="tab">Settings</a>
    </li>
  </ul>
</div>

<div class='col-lg-10'>
  <div class='tab-content'>
    <div role='tabpanel' class='tab-pane fade in active' id='reports'>
      <h1 class='page-header'>Reports
        <a href="#"><button type='button' class='btn btn-primary btn-sm pull-right'>Create New Report</button></a>
      </h1>

      {% if current_user.has_reports() %}
        <table class='table table-hover' id="reports-table">
          <thead>
            <tr>
                <th>Title</th>
                <th></th>
                <th></th>
                <th>Created</th>
                <th>Description</th>
            </tr>
          </thead>
          <tbody>
          {% for each in reports %}
              <tr>
                  <td>{{each.title}}</td>
                  <td><a href="#" class='btn btn-warning btn-xs'><i class='fa fa-pencil-square-o'></i> Edit</a></td>
                  <td><a href="#" class='btn btn-danger btn-xs'><i class='fa fa-trash-o'></i> Delete</a></td>
                  <td>{{ moment(each.created).fromNow() }}</td>
                  <td>{{each.description}}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h2>No reports yet!</h2>
      {% endif %}
    </div><!-- end reports -->

    <div role='tabpanel' class='tab-pane fade' id='settings'>
      <h1 class='page-header'>Settings</h1>
    </div><!-- end settings -->
  </div><!-- end tab-content -->
</div><!-- end RHS -->

{% endblock %}