/* Sticky footer stuff */
html {
    position: relative;
    min-height: 100%;
}

/* TEsting */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');


/* End Test */

footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height:60px;
    background-color: #f5f5f5;
}

#my-tab-content {
    padding: 25px;
}

body {
    padding-top:70px;
    margin-bottom: 60px;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

.tab-content {
    padding-top: 25px;
}

.center-all {
    text-align:center;
}

.navbar {
    border: none;
}

.navbar > h1 {
    color:black;
}

a:hover {
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

/* All media! */
.flask-pagedown-preview {
    border:1px dotted;
    margin-top:10px;
    padding:2px;
    border-color: gray;
}

@media (max-width: 768px) {
    }
@media (min-width: 769px) and (max-width: 992px) {
    }
@media (min-width: 993px) and (max-width: 1200px) {
    }
@media (min-width: 1201px) {
    #LHS-admin {
        padding-top: 120px;
    }

   }